@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Helvetica";
    font-weight: 500;
    src: url("/fonts/Helvetica.otf") format("otf");
  }
  @font-face {
    font-family: "Helvetica";
    font-weight: 700;
    src: url("/fonts/Helvetica Bold.ttf") format("ttf");
  }
  @font-face {
    font-family: "Helvetica";
    font-weight: 900;
    src: url("/fonts/Helvetica Black.otf") format("otf");
  }
  @font-face {
    font-family: Roboto Mono;
    src: url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");
  }
}

/* Swiper styles */

.custom-scrollbar::-webkit-scrollbar {
  width: 0.6vw;
}

*::-webkit-scrollbar-thumb {
  background-color: #7775;
  border-radius: 16px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgb(144, 144, 144);
}

.swiper-pagination {
  text-align: left !important;
  padding-left: 1rem !important;
  padding-bottom: 2rem !important;
}

.swiper-pagination-bullet {
  background: #000000cc !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.swiper-pagination-bullet-active {
  background: #f9f9f9 !important;
  width: 1.25rem !important;
  height: 1.25rem !important;
}

/* Pagination styles */

.pagination > li > a {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
}

.pagination > li > a:hover {
  color: #f9f9f9;
  background-color: #4100fa;
}

.pagination > .active > a {
  background-color: #4100fa;
}

.pagination > .disabled > a,
.pagination > .disabled > a:hover {
  color: #d4d4d8;
  background-color: #f4f4f5;
}

.rdw-option-wrapper {
  height: 35px !important;
  width: 35px !important;
}

.rdw-option-wrapper > img {
  height: 15px !important;
  width: 15px !important;
}

.rti--container {
  background: #fff;
  flex-wrap: nowrap !important;
  width: 100% !important;
  overflow: hidden;
}

.rti--tag {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  font-weight: 600;
  background: #4100fa !important;
  color: white;
  padding: 0.2em 0.5em;
}

.rti--input {
  width: 100% !important;
  inset: 0;
  font-size: 1.125rem !important /* 18px */;
  line-height: 1.75rem !important /* 28px */;
}

.rti--input:focus {
  outline: none !important;
  border: none !important;
}

.markup,
.markup > p,
.markup > p > span,
ins {
  font-size: 1.25rem !important;
  font-family: "Helvetica", sans-serif !important;
}

.markup > iframe {
  width: 75%;
  aspect-ratio: 16/9;
}

.markup > img,
.markup > div > img {
  width: 75% !important;
}

.markup > p > span > strong {
  font-size: 2rem !important;
}

ins {
  color: #4100fa;
}

*::-webkit-scrollbar {
  width: 0.6vw;
  cursor: pointer;
  /*background-color: rgba(229, 231, 235, var(--bg-opacity));*/
}
*::-webkit-scrollbar-track {
  background-color: rgba(229, 231, 235, var(--bg-opacity));
  cursor: pointer;
  /*background: red;*/
}

*::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a0aec0;
  /*outline: 1px solid slategrey;*/
}

/* Laura */

.stats {
  font-size: 51px;
  text-align: center;
}

.stats-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fae62f;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.stats-label > * {
  margin-left: 0.5rem;
}

.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

tr td:nth-child(n + 7),
tr th:nth-child(n + 7) {
  border-radius: 0 0.625rem 0.625rem 0 !important;
}

tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem !important;
}

.flex-container {
  display: flex;
  overflow: hidden !important;
}

.flex-continer > * {
  flex: 0 0 auto;
}
